<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.all.min.js />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
  body {
  background-color: #f6f6f6;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #1E90FF;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.heading {
  color: #0d6efd;
  font-weight: bold;
  font-size: 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}

.footer {
  background-color: #0d6efd;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.footer a:hover {
  color: #e0e0e0;
}

.fa {
  font-size: 1.2rem;
  margin-right: 5px;
}
.custom-card {
  background-color: #f0f0f0;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
</style>
</head>

      <div class="container">
        <form id="stock-form">
          <div class="mb-3">
            <label for="symbol">Enter stock symbol:</label>
            <input type="text" id="symbol" name="symbol" required>
          </div>
            <button type="submit">Submit</button>
        </form>
      </div>

{% block content %}
<header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="#" class="nav-link px-2 link-secondary">Home</a>
            </li>
            <li>
                <a href="#" class="nav-link px-2 link-dark">Features</a>
            </li>
            <li>
                <a href="#" class="nav-link px-2 link-dark">FAQs</a>
            </li>
        </ul>
    </header>

    <div class="header" style= padding: 20px; background-color: #1E90FF;">
        <h1 style="text-align: center; color: #fff;"> Stock Information for {{ company_name }}</h1>
    </div>

    <table class="table table-bordered table table-striped" style="margin-top: 30px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> Company Name </th>
      <th scope="col"> Symbol </th>
      <th scope="col"> Exchange </th>
      <th scope="col"> Market Capitalization </th>
    </tr>
    </thead>
    <tbody>
      <tr style="background-color: #F0F8FF;">
          <td>{{ company_name }}</td>
          <td>{{ symbol }}</td>
          <td>{{ exchange }}</td>
          <td>{{ market_cap }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="row" style="margin-top: 30px;">
  <div class="col-md-6" style="padding-right: 15px;">
      <h2 style="text-align: center; margin-top: 30px; font-size: 24px; font-weight: bold; color: #333;">Stock Information Per Share</h2>
      <table class="table table-striped" style="margin-bottom: 30px; background-color: #F0F8FF;">
          <tbody>
              <tr>
                <td>Earnings Per Share (EPS)</td>
                  <td>{{ eps }}</td>
              </tr>
              <tr>
                  <td>Price to Earnings Ratio (P/E Ratio)</td>
                 <td>{{ pe_ratio }}</td>
              </tr>
              <tr>
                <td>Dividend Yield</td>
                  <td>{{ dividend_yield }}</td>
            </tr>
              <tr>
                  <td>Dividend Per Share</td>
                <td>{{ dividend_ps }}</td>
              </tr>
              <tr>
                  <td>52-Week High</td>
                  <td>{{ high }}</td>
              </tr>
              <tr>
                  <td>52-Week Low</td>                  
                  <td>{{ low }}</td>
               </tr>
          </tbody>
      </table>
    </div>
 <div class="col-md-6" style="padding-left: 15px;"><h2 style="text-align: center; margin-top: 30px; font-size: 24px; font-weight: bold; color: #333;">Sector and Industry</h2>
      <table class="table table-striped" style="margin-bottom: 30px; background-color:  #F0F8FF;">
        <tbody>
          <tr>
            <td>Sector</td>
            <td>{{ sector }}</td>
          </tr>
          <tr>
            <td>Industry</td>
            <td>{{ industry }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

      <h2 style="text-align: center; margin-top: 30px; font-size: 24px; font-weight: bold; color: #333;">Current Price Information Per Share</h2>
         <table class="table table-striped table-hover" style="margin-bottom: 30px; font-size: 14px;">
            <thead>
              <tr>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
              </tr>
            </thead>
          <tbody>
      {% for date, data in timeSeriesData.items()%}
        {% if loop.first %}
        <tr style="background-color: #F0F8FF;">
            <td>{{ data["1. open"] }}</td>
            <td>{{ data["2. high"] }}</td>
            <td>{{ data["3. low"] }}</td>
            <td>{{ data["4. close"] }}</td>
            <td>{{ data["5. volume"] }}</td>
        </tr>
            {% endif %}
            {% endfor %}
        </table>

    <h2 style="text-align: center; margin-top: 30px; font-size: 24px; font-weight: bold; color: #333;">Latest News</h2>
 <div class="row">
  {% for i in range(5) %}
    <div class="col-md-4">
      <div class="custom-card">
        <div class="card-body">
          <div class="news-item">
            <h5 class="card-title"><a href="{{ titles[i]['url'] }}">{{ titles[i]['title'] }}</a></h5>
            <p class="card-text">{{titles[i]["published"]}}</p>
            <p class="card-text">{{  titles[i]["summary"] }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>


<div id="chart"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var chart = '{{ chart_html|safe }}';
</script>


{% endblock %}

<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Privacy</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Terms of Service</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Contact Us</a>
        </li>
    </ul>
    <p class="text-center text-muted">© 2023 DukeBluePay, Inc</p>
</footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
 <script>
        const form = document.getElementById('stock-form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            fetch('/stock', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    document.open();
                    document.write(data);
                    document.close();
                })
                .catch(error => console.error(error));
        });
    </script>
  </html>



