{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Linked Stock Graphs:{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
             <link rel="Stock History Graph" type="text/javascript" href="{{ url_for('static', filename='index.js') }}"> 
             <iframe src= "{{ url_for('static', filename='graph.html') }}" width="800" height="800"></iframe>
    </header>
    <a href="{{ url_for('blog.index', id=post['id']) }}" class="btn btn-outline-secondary btn-sm">Back to Home Page</a>
    </article>
  {% endfor %}
{% endblock %}