<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.all.min.js />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

  <body>
    <h1>Stock Tracker</h1>
    <form action="/add_stock" method="post">
      <label for="symbol">Stock Symbol:</label>
      <input type="text" id="symbol" name="symbol"><br>
      <label for="tracking_price">Tracking Price:</label>
      <input type="text" id="tracking_price" name="tracking_price"><br>
      <label for="num_shares"># of Shares:</label>
      <input type="text" id="num_shares" name="num_shares"><br>
      <input type="submit" value="Add Stock">
    </form>
    <br>
    <table>

      {% for s in stock %}
  <tr>
    <td>{{ s['symbol'] }}</td>
    <td>{{ s['date_added'] }}</td>
    <td>{{ s['tracking_price'] }}</td>
    <td>{{ s['num_shares'] }}</td>
    <td>{{ s['current_price'] }}</td>
    <td>{{ s['percent_change'] }}%</td>
    <td><a href="/delete_stock/{{ s['id'] }}">Remove</a></td>
  </tr>
  {% endfor %}

    </table>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>

</html>