<!DOCTYPE html>
<html>
<head>
    <title>Stock Tracker</title>
</head>
<body>
    <h1>Stock Tracker</h1>
    <form method="post" action="{{ url_for('blog.add_stock') }}">
        <label for="symbol">Symbol:</label>
        <input type="text" id="symbol" name="symbol" required>
        <label for="tracking_price">Tracking Price:</label>
        <input type="number" id="tracking_price" name="tracking_price" step="0.01" required>
        <label for="num_shares"># of Shares:</label>
        <input type="number" id="num_shares" name="num_shares" required>
        <button type="submit">Add Stock</button>
    </form>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Date Added</th>
            <th>Tracking Price</th>
            <th># of Shares</th>
            <th>Current Price</th>
            <th>% Change</th>
            <th></th>
        </tr>
        {% for stock in stock %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.date_added }}</td>
                <td>{{ stock.tracking_price }}</td>
                <td>{{ stock.num_shares }}</td>
                <td>{{ stock.current_price }}</td>
                <td>{{ stock.percent_change }}</td>
                <td>
                    <form method="post" action="{{ url_for('blog.delete_stock', id=stock.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

